/* Placeholder spot for imported assets */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;800&display=swap');


/* Body stylings */
body {
    color: #F2F3EF;
    background-color: #F2F2F2;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
 height: auto;
}

.section {
    /* This code decides the container's width and height. As well as positions the elemnts into the top left corner. */
    width: 300px;
    height: 600px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.section.sedan, .section.suv, .section.luxury {
    /* Added equal amount of padding to all three elements to add space between them and the outer border. */
    padding: 20px;
}

.section.sedan {
    /* Added border radius this way to only apply smoother edges to the top and bottom left corners. */
    background-color: #E28525;
    border-radius: 10px 0px 0px 10px;
}
.section.sedan a {
    color: #E28525;
}

.section.suv {
    /* I did not add border-radius to this container as it is the middle one and it's not supposed to have smoother edges. */
    background-color: #016972;
}
.section.suv a {
    color: #016972;
}

.section.luxury {
    /* Added border radius this way to only apply smoother edges to the top and bottom right corners. */
    background-color: #00403F;
    border-radius: 0px 10px 10px 00px;
}
.section.luxury a {
    color: #00403F;
}

.section.logo {
    /* I used padding and margin to position the logo more inwards and downwards closer to the header. */
    padding: 20px 30px 0px 30px;
    margin: 30px 10px 0px 10px;

}

.section.header {
    /* I used padding and margin to align the header with the logo. */
    padding: 15px 0px 15px 30px;
    margin: 0px 10px 0px 10px;
}

.section.text {
    /* I added a width value to the textboxes to keep them from spilling over into the other boxes and to keep the text positioned close to the task.
    Looking over this once more it seems sloppy and there's probably a better way to do this. The padding or margin values didn't seem to work as I wanted them to so I did this instead. */
    width: 200px;
    padding: 0px 30px 30px 30px;
    margin: 0px 0px 0px 10px;
    line-height: 1.8rem;
}

.section a {
    /* Learn more button stylings */
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 50px;
    background-color: #F2F1F1;
    margin: 30px 15px 30px 15px;
}

.section.link {
    /* Button positioning using padding and margin */
    padding: 10px 15px;
    margin: 0px 10px 0px 10px;
}

/* Code that manipulates the site and its elements to fit smaller screen sizes. 
I chose to use 968px as my change point as it suits the element's total width.*/

@media(max-width: 968px) {
    body {
        max-width: 100vw;
        height: 100vh;
        display: block;
    }

    .section {
        width: 80vw;
    }

    .section.sedan {
        margin-top: 50px;
        border-radius: 10px 10px 0px 0px;
    }

    .section.section.luxury {
        margin-bottom: 50px;
        border-radius: 0px 0px 10px 10px;
    }

    .section {
        align-items: center;
        justify-content: center;
    }

    .section.text {
        width: 400px;
        text-align: center;
}
}